body {
	background-color: #ffdfe9;
}

.header {
	font-size: 9vw;
	display: block;
	text-align: center;
	margin: auto;
	margin-top: 2rem;
	font-family: 'Parisienne', serif;
	text-decoration: none!important;
}

li {
	display: inline-block;
	/*text-align: center;*/
	padding: 0 1em 0 1em;
	color: #1c1c1c;
	font-size: 3.2vw;
	font-family: 'Dosis', sans-serif;
}

li > a {
	text-decoration: none;
	color: black;
}

li > a:hover{
	color: black;
    text-shadow: 1px 1px 2px black, 0 0 25px purple, 0 0 5px white;
    transition: 0.3s;
}

#nav {
	text-align: center;
	margin-right: 50px;
}

.tab {
  color: #db4682;
}

#footer {
  text-align: center;
  font-family: 'Dosis', serif;
  font-size: 1.8vw;
}

.icons {
  margin-left: -35px;
}


h1 {
	text-align: center;
	font-family: 'Tangerine', serif;
	font-size: 7vw;
	margin: auto;
}

h2.service {
	font-size: 4.5vw;
	font-family: 'Tangerine', serif;
	text-align: center;
}


/*Services*/
.services {
	display: flex;
	justify-content: center;
	margin-bottom: 1.5rem;
}

.service {
	text-align: center;
	flex: 50%;
	float: left;
}

h5 {
	font-size: 2vw;
	text-align: left;
	margin: auto;
	font-family: 'Dosis', sans-serif;
}

#onsite {
	font-size: 2.5vw;
	font-family: 'Tangerine', serif;
	text-align: center;
	display: flex;
	justify-content: center;
	margin-bottom: 1.5rem;
}

#services {
	margin-top: 1rem;
}

#lessons {
	padding-left: 0rem;
}

#title {
}

#serviceList {
  padding-left: 2rem;
}

div.service {
	margin-top: 1rem;
}



/*Contact page*/

#thankyou {
	display: none;
}

section {
	float: left;
}

#map {
	width: 400px;
	height: 400px;
	-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  	filter: grayscale(100%);
  	float: left;
}

#contact {
	justify-content: center;
	display: flex;
	margin-top: 0.5rem;
}

#contactInfo {
  font-size: 2.3vw;
  text-align: center;
  justify-content: center;
  display: flex;
  font-family: 'Dosis', sans-serif;
}

input, textarea, h4{
	font-family: 'Dosis', sans-serif;
	width: 300px;
	margin: 5px 25px 0px;
}

input, textarea {
	font-size: 15px;
	margin: 5px 25px;
	border: 1px solid #1f1f1f;
}

button {
	font-family: 'Dosis', sans-serif;
	font-size: 20px;
	margin: 5px 30px;
	border: 1px solid #1f1f1f;
	border-radius: 4px;
	width: 120px;
	height: 40px;
}

button:hover {
	background-color: #e395c0;
	color: white;
	box-shadow: 0px 0px 20px #888888;
	transition: 0.2s;
}

.actions {
	justify-content: center;
	display: flex;
	margin-left: -40px;
}



/*Portfolio Images Grid*/

.row {
    margin: 8px 10px 8px 0px;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

/* Add padding BETWEEN each column (if you want) */
.row,
.row > .column {
    padding: 8px;
}

/* Create four equal columns that floats next to each other */
.column {
    float: left;
    width: 30%;
    height: 30%;
}

/* Clear floats after rows */ 
.row:after {
    content: "";
    display: table;
    clear: both;
}


/*Making Portfolio Images in Grid pop up on click*/

.portfolio:hover {
	cursor: pointer;
	opacity: 0.8;
}

/*Modal*/
/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color:  rgba(0,0,0,0.85);
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 50%;
  display: block;
  margin-top: -3rem;
}

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}


/*Images slideshow on homepage*/

.main {
  position: relative;
  margin: auto;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

#mainContent {
  font-family: 'Dosis', sans-serif;
  font-size: 2vw;
  padding-left: 10px;
  padding-right: 4vw;
}

#slides {
  padding-left: 4vw; 
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 450px;
  position: relative;
  margin: auto;
  box-shadow: 0px 0px 20px black;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}